@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root
{
    --c-gray-900: #000000;
    --c-gray-800: #1f1f1f;
    --c-gray-700: #2e2e2e;
    --c-gray-600: #313131;
    --c-gray-500: #969593;
    --c-gray-400: #a6a6a6;
    --c-gray-300: #bdbbb7;
    --c-gray-200: #f1f1f1;
    --c-gray-100: #ffffff;

    --c-green-700: #A9B7A9;
    --c-green-500: #45ffbc;
    --c-green-200: #94FFB2;
    --c-olive-500: #e3ffa8;
    --c-blue-500: #A9B7C1;

    --c-white-500: var(--c-gray-100);

    --c-text-primary: var(--c-gray-100);
    --c-text-secondary: var(--c-gray-200);
    --c-text-tertiary: var(--c-gray-500);
}


img
{
    display: block;
    max-width: 100%;
}

body
{
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: var(--c-gray-800);
    display: flex;
    line-height: 1.5;
    padding-top: 0vw;
    padding-bottom: 3vw;
    justify-content: center;
}

.app
{
    min-height: 100vh;
    width: 100%;
    background-color: var(--c-gray-800);
    padding: 2vw 4vw 6vw;
    display: flex;
    flex-direction: column;
}

.app-header 
{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 2rem; 
    margin-top: -4%; 
    @media (max-width: 1200) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--c-gray-600);
    }
  }

.app-header-navigation
{
    display: flex;
    align-items: center;
    margin-top: -4.75%;
    @media (max-width: 1200px)
    {
        display: none;
    }
}

.app-header-actions
{
    display: flex;
    align-items: center;
    @media (max-width: 1200px)
    {
        display: none
    }
}

.app-header-user
{
    display: flex;
    align-items: center;
    color: var(--c-text-tertiary);
}

.app-header-user span:first-child
{
    font-size: 1.125rem;
    padding-right: 1rem;
    border-right: 1px solid var(--c-gray-600);
}

.app-header-user span:last-child
{
    margin-left: 1rem;
    border-radius: 50%;
    overflow: hidden;
    width: 42px;
    height: 42px;
}

.app-header-user img
{
    width: 100%;
    height: auto;
    display: block;
}

.app-body 
{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 175px), 1fr; 
    column-gap: 4rem;
    padding-top: 2.5rem;
    align-items: start;
    justify-items: start;
    @media(max-width: 1200px) 
    {
      grid-template-columns: 1fr;
      & > * 
      {
        margin-bottom: 3.5rem;
      }
    }
}

.app-body-navigation
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    @media(max-width: 1200)
    {
        display: none;
    }
}

.footer
{
    margin-top: auto;
    padding-top: 2rem;
    margin-top: 50rem;
}

.footer h1
{
    font-size: 1.5rem;
    line-height: 1.125;
    display: flex;
    align-items: flex-start;
    small
    {
        font-size: 0.5em;
        margin-left: 0.25em;
    }
}

.footer div
{
    border-top: 1px solid var(--c-gray-600);
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 0.75;
    color: var(--c-text-tertiary);
}

.icon-button
{
    width: 32px;
    height: 32px;
}

div
{
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: var(--c-text-tertiary);
}

.logo
{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.logo-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin-right: 1rem;
}

.logo-title
{
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    margin-left: 1rem;
    
    span:first-child
    {
        color: var(--c-text-secondary);
        font-size: 1.5rem;
    }
    span:last-child
    {
        color:var(--c-text-tertiary);
        font-size: 0.9rem;
    }
}

.icon-button 
{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid var(--c-gray-500);
    background-color: transparent;
    color: var(--c-text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s ease;
    margin-left: 0.5rem; 
}
.tabs 
{
    display: flex; 
    align-items: center; 
}
  

.tabs a 
{
  color: var(--c-text-tertiary);
  text-decoration: none;
  display: inline-block;
  padding-top: 2rem;
  margin: 0 1rem 0.5rem;
  border-top: 2px solid transparent;
  transition: border-top 0.25s ease;
}

.tabs a:hover
{
    color: var(--c-green-500);
    border-top-color: var(--c-green-500);
}
.tabs a.active
{
    color: var(--c-text-primary);
    border-top-color: var(--c-text-primary);
}

.icon-button i 
{
    font-size: larger; 
}
.icon-button i:hover
{
    color: var(--c-green-500);
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--c-text-tertiary);
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: 0.25s ease;
        padding-right: 1.5rem;
		* {
			transition: 0.25s ease;
		}

		i {
			margin-right: 0.75rem;
			font-size: 100em;
			flex-shrink: 0;
		}

		& + a {
			margin-top: 1rem;
		}

		&:hover 
        {
			transform: translateX(4px);
            border-right: 2px solid var(--c-olive-500);
			color: var(--c-olive-500);
		}
	}
}

.about-me-heading
{
    color: var(--c-text-primary);
}

.my-name-text
{
    color: var(--c-text-secondary);
}

.project-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.project-card
{
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
}

.project-details
{
    max-width: 600px;
}

.project-details h3
{
    text-align: center;
    color: var(--c-gray-500);
    margin-bottom: 1rem;
}

.project-details p
{
    font-size: 1rem;
    color: var(--c-gray-200);
    text-align: center;
}

.project-details img
{
   width: 275px;
   height: auto;
   block-size: auto;
}

.project-card-1:hover 
{
    border-width: 3.5px;
    border-color: var(--c-green-500); 
}
  
.project-card-2:hover 
{
    border-width: 3.5px;
    border-color: var(--c-olive-500); 
}
  
.project-card-3:hover 
{
    border-width: 3.5px;
    border-color: var(--c-gray-300); 
}

@media(min-width: 1201px) 
{ 
    .app-body 
    {
      display: grid; 
      grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr);
      column-gap: 4rem;
      align-items: start; 
    }
    .app-body-navigation 
    {
      margin-bottom: 0; 
    }
    .project-details 
    {
      text-align: left; 
      justify-self: center; 
      align-self: center; 
    }
}

button,
select,
input,
textarea 
{
    font: inherit;
}

a
{
    color: inherit;
}

