@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root
{
    --c-gray-900: #000000;
    --c-gray-800: #1f1f1f;
    --c-gray-700: #2e2e2e;
    --c-gray-600: #313131;
    --c-gray-500: #969593;
    --c-gray-400: #a6a6a6;
    --c-gray-300: #bdbbb7;
    --c-gray-200: #f1f1f1;
    --c-gray-100: #ffffff;

    --c-green-500: #45ffbc;
    --c-olive-500: #e3ffa8;
    --c-blue-500: #A9B7C1;

    --c-white-500: var(--c-gray-100);

    --c-text-primary: var(--c-gray-100);
    --c-text-secondary: var(--c-gray-200);
    --c-text-tertiary: var(--c-gray-500);
}

img
{
    display: block;
    max-width: 100%;
    height: auto;
}

body
{
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: var(--c-gray-800);
    display: flex;
    justify-content: center;
    line-height: 1.5;
    padding-top: 0;
    padding-bottom: 3vw;
    margin: 0;
}

.app
{
    min-height: 100vh;
    width: 100%;
    max-width: 2200px;
    background-color: var(--c-gray-800);
    padding: 2vw 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2vw;
    margin-top: -4vw;
    width: 100%;
}

@media (max-width: 1200px)
{
    .app-header {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid var(--c-gray-600);
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
}

.app-header-navigation
{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 20%;
}

@media (max-width: 1200px)
{
    .app-header-navigation {
        display: flex;
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
        justify-content: space-around;
    }
}

.app-header-actions
{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

@media (max-width: 1200px)
{
    .app-header-actions {
        display: flex;
        margin-left: 0;
        margin-top: 1rem;
    }
}

.app-header-user
{
    display: flex;
    align-items: center;
    color: var(--c-text-tertiary);
}

.app-header-user span:first-child {
    font-size: 1.125rem;
    padding-right: 1rem;
    border-right: 1px solid var(--c-gray-600);
}

.app-header-user span:last-child
{
    margin-left: 1rem;
    border-radius: 50%;
    overflow: hidden;
    width: 42px;
    height: 42px;
}

.app-header-user img
{
    width: 100%;
    height: auto;
    display: block;
}

.app-body
{
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 300px) 1fr;
    column-gap: 4vw;
    padding-top: 5rem;
    align-items: flex-start;
    justify-items: start;
}



.app-body-navigation
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

/* @media (min-width: 1201px)
{
    .app-body-navigation {
        margin-bottom: 0;
    }
} */

.footer
{
    margin-top: auto;
    padding-top: 2rem;
    text-align: center;
}
.footer h1
{
    font-size: 1.5rem;
    line-height: 1.125;
    display: flex;
    align-items: center;
    justify-content: center;
    small
    {
        font-size: 0.5em;
        margin-left: 0.25em;
    }
}

.footer div
{
    border-top: 1px solid var(--c-gray-600);
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 0.75rem;
    color: var(--c-text-tertiary);
}

.icon-button
{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid var(--c-gray-500);
    background-color: transparent;
    color: var(--c-text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s ease;
    margin-left: 0.5rem;
}

div
{
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: var(--c-text-tertiary);
}

.logo
{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-right: auto;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin-right: 1rem;
}

.logo-title
{
    display: flex;
    flex-direction: column;
    line-height: 1.25;

    span:first-child
    {
        color: var(--c-text-secondary);
        font-size: 1.5rem;
    }

    span:last-child
    {
        color: var(--c-text-tertiary);
        font-size: 0.9rem;
    }
}

.tabs
{
    display: flex;
    align-items: center;
}

.tabs a
{
    color: var(--c-text-tertiary);
    text-decoration: none;
    display: inline-block;
    padding-top: 2rem;
    margin: 0 1.5vw 1rem;
    border-top: 2px solid transparent;
    transition: border-top 0.25s ease;
}

.tabs a:hover
{
    color: var(--c-green-500);
    border-top-color: var(--c-green-500);
}

.tabs a.active
{
    color: var(--c-green-500);
    border-top-color: var(--c-green-500);
}

.icon-button i
{
    font-size: larger;
}

.icon-button i:hover
{
    color: var(--c-green-500);
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--c-text-tertiary);
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.25s ease;
        padding-right: 1.5rem;
        *
        {
            transition: 0.25s ease;
        }

        i
        {
            margin-right: 0rem;
            font-size: 1.5rem;
            flex-shrink: 0;
        }

        & + a
        {
            margin-top: 4rem;
        }

        &:hover
        {
            transform: translateX(4px);
            border-right: 2px solid var(--c-olive-500);
            color: var(--c-olive-500);
        }
    }
}

.about-me-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px)
{
    .about-me-body {
        align-items: flex-start;
    }
}

.about-me-intro {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 960px;
    flex-direction: column;
}

@media (min-width: 768px) {
    .about-me-intro {
        flex-direction: row;
        text-align: left;
    }
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.profile-image img
{
    align-self: flex-start;
    width: 100%;
    height: auto;
    display: block;
}

.profile-image-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px)
{
    .profile-image-container
    {
        align-items: flex-start;
    }
}

.intro-text
{
    align-self: flex-start;
    text-align: center;
    flex-grow: 1;
}

@media (min-width: 768px)
{
    .intro-text {
        text-align: left;
    }
}

.about-me-heading
{
    color: var(--c-olive-500);
    text-align: center;
    margin-bottom: 1rem;
}

.about-me-details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin-bottom: 2rem;
}

@media (min-width: 768px)
{
    .about-me-details {
        align-items: flex-start;
    }
}

.text-container
{
    color: var(--c-text-secondary);
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}

.about-me-details ol.text-container
{
    padding-left: 20px;
}

.my-name-text
{
    color: var(--c-text-secondary);
}

.about-me-contact-cta
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 600px;
    color: var(--c-text-secondary);
}

.about-me-contact-cta .button
{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--c-green-500);
    color: var(--c-gray-900);
    text-decoration: none;
    border-radius: 7.5px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    background: radial-gradient();
}

.project-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card
{
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
}

.project-details {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 768px)
{
    .project-details {
        text-align: left;
    }
}

.project-details h3
{
    color: var(--c-gray-500);
    margin-bottom: 1rem;
    text-decoration: none;
}

.project-details h2
{
    color: var(--c-green-500);
    margin-bottom: 1rem;
}

.project-details p
{
    color: var(--c-text-primary);
    font-size: 1rem;
    color: var(--c-gray-200);
}

.project-details ul
{
    color: var(--c-text-primary);
} 

.project-details img
{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-card-1:hover h3
{
    border-width: 3.5px;
    color: var(--c-green-500);
}

.project-card-2:hover h3
{
    border-width: 3.5px;
    color: var(--c-olive-500);
}

.project-card-3:hover h3
{
    border-width: 3.5px;
    color: #88d2db;
}

.project-link
{
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    z-index: 1;
    text-decoration: none;
}

.project-page
{
    align-items: flex-start;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 2200px;
}

.project-intro
{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    text-overflow: ellipsis;
}

.project-page h1
{
    color: var(--c-olive-500);
}

.project-page p
{
    color: var(--c-text-primary);
}

.skills-body
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
}

.skills-intro
{
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
    max-width: 600px;
}

.skills-intro h2
{
    margin-bottom: 0.5rem;
    color: var(--c-green-200);
}

.skills-intro p
{
    margin-bottom: 0.5rem;
    color: var(--c-text-primary);
}

.technical-skills,
.soft-skills,
.other-skills
{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 80%;
    max-width: 600px;
}

.technical-skills h3,
.soft-skills h3,
.other-skills h3
{
    margin-bottom: 1rem;
    color: var(--c-olive-500);
    text-align: center;
}

.skill-category {
    margin-bottom: 1rem;
}

.skill-category h4
{
    margin-bottom: 0.5rem;
    color: var(--c-olive-500);
    text-align: center;
}

.technical-skills .skill-category ul,
.soft-skills ul,
.other-skills ul
{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technical-skills .skill-category li,
.soft-skills li,
.other-skills li
{
    margin-bottom: 0.5rem;
    color: var(--c-text-secondary);
    text-align: center;
}

.skills-cta
{
    text-align: center;
    color: var(--c-text-secondary);
}

.skills-cta a
{
    color: var(--c-green-500);
    text-decoration: none;
}

.skills-cta a:hover
{
    text-decoration: underline;
}

button,
select,
input,
textarea
{
    font: inherit;
}

a
{
    color: inherit;
}

/* Phone stuff*/

.burger-menu
{
    display: none;
}

.burger-icon
{
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
}

.burger-icon span
{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--c-text-primary);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger-icon span:nth-child(1)
{
    top: 0px;
}

.burger-icon span:nth-child(2)
{
    top: 50%;
    transform: translate(-50%);
}
.burger-icon span:nth-child(3)
{
    top: 100%;
    transform: translate(-100%);
}

.mobile-navigation
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--c-gray-800);
    z-index: 10;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-navigation a
{
    display: block;
    padding: .75rem 1rem;
    color: var(--c-text-secondary);
    text-decoration: none;
}

.mobile-navigation a:hover
{
    color: var(--c-green-500);
}

/* @media (max-width: 768px)
{
    .app-header-navigation
    {
        display: none;
    }

    .burger-menu
    {
        display: block;
    }

    .burger-icon
    {
        display: block;
    }
} */

